<div class="wrapper fadeInDown">
	<div id="formContent">
		<!-- Tabs Titles -->
		<h2 class="active"> Sign In </h2>

		<!-- Icon -->
		<div class="fadeIn first">
			<!-- <img src="http://danielzawadzki.com/codepen/01/icon.svg" id="icon" alt="User Icon" /> -->
			<i class="login__icon fas fa-lock"></i>
		</div>

		<!-- Login Form -->
		<form class="form-horizontal" [formGroup]="LoginForm">
			<input type="text" id="login" class="fadeIn second" formControlName="UserName" placeholder="User name">
			<input type="password" id="login" class="inputPassword fadeIn second" formControlName="Password"
				placeholder="Password">
			<input type="submit" class="fadeIn fourth" value="Log In" (click)="logIn()">
		</form>
		<h2 style="margin-top: -30px">
			<a style="font-weight: bold;" href="javascript:void(0)" (click)="registerUser()">Register account for
				company</a>
		</h2>
	</div>
</div>


<nz-modal [(nzVisible)]="isDisplay" nzTitle="Register User" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
	<ng-container *nzModalContent>
		<form class="form-horizontal" [formGroup]="AddForm">
			<div class="row">
				<nz-form-item class="col-md-12">
					<nz-form-label nzRequired>Full name</nz-form-label>
					<nz-form-control nzErrorTip="You must input !">
						<input formControlName="full_name" nz-input placeholder="input.." />
					</nz-form-control>
				</nz-form-item>
				<nz-form-item class="col-md-12">
					<nz-form-label nzRequired>User name</nz-form-label>
					<nz-form-control nzErrorTip="You must input !">
						<input formControlName="user_name" nz-input placeholder="input.." />
					</nz-form-control>
				</nz-form-item>
				<nz-form-item class="col-md-12">
					<nz-form-label nzRequired>Email</nz-form-label>
					<nz-form-control nzErrorTip="You must input !">
						<input formControlName="email" nz-input placeholder="input.." />
					</nz-form-control>
				</nz-form-item>
				<nz-form-item class="col-md-12">
					<nz-form-label nzRequired>Password</nz-form-label>
					<nz-form-control nzErrorTip="You must input !">
						<nz-input-group>
							<input type="password" nz-input placeholder="input password" formControlName="password" />
						</nz-input-group>
					</nz-form-control>
				</nz-form-item>
				<nz-form-item class="col-md-12" style="margin-bottom: 20px;">
					<nz-form-label>Address</nz-form-label>
					<nz-form-control>
						<input formControlName="address" nz-input placeholder="input.." />
					</nz-form-control>
				</nz-form-item>
				<div class="col-md-12">
					<a class="col-md-12" href="javascript:void(0)" (click)="showSelect()">Select company exist in
						system</a>
					<div class="row" *ngIf="selectCompany">
						<div class="col-md-6">
							<nz-select style="width: 100%;" nzShowSearch nzAllowClear nzPlaceHolder="Select company"
								[ngModelOptions]="{standalone: true}" [(ngModel)]="companySelect">
								<nz-option *ngFor="let r of listCompany" nzValue="{{r.company_code}}"
									nzLabel="{{r.company_name}}"></nz-option>
							</nz-select>
						</div>
					</div>
				</div>

				<div class="col-md-12" style="margin-top: 20px;">
					<a class="col-md-12" href="javascript:void(0)" (click)="showInput()">Register your company with form
						+</a>
					<div class="row" *ngIf="inputCompany">
						<form class="form-horizontal" [formGroup]="AddCompanyForm">
							<div class="row">
								<div class="col-md-12">
									<label class="col-md-10 require">TAX Code</label>
									<input nz-input placeholder="input.." formControlName="company_code" />
								</div>
								<div class="col-md-12">
									<label class="col-md-10 require">Company Name</label>
									<input nz-input placeholder="input.." formControlName="company_name" />
								</div>
								<div class="form-group">
									<label for="comment">Description</label>
									<textarea class="form-control" formControlName="description" rows="5">
									</textarea>
								</div>
								<div class="col-md-12">
									<label class="col-md-10 require">Logo</label>
									<input nz-input placeholder="input.." formControlName="logo" />
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</form>
	</ng-container>
</nz-modal>