<div class="content">
    <div class="panel-header bg-primary-gradient">
        <div class="page-inner py-5">
            <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
                <div>
                    <h2 class="text-white pb-2 fw-bold">DocumentCV</h2>
                    <h5 class="text-white op-7 mb-2">Home/Admin/DocumentCV</h5>
                </div>
                <div class="ml-md-auto py-2 py-md-0">
                    <a href="#" class="btn btn-white btn-border btn-round mr-2">Manage</a>
                </div>
            </div>
        </div>
    </div>
    <div class="page-inner mt--5">
        <div class="row mt--2">
            <div class="col-md-12">
                <div class="card full-height">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="table-responsive table-hover table-sales">
                                    <nz-table #basicTable [nzData]="listDocumentCV">
                                        <thead>
                                            <tr>
                                                <th>Code</th>
                                                <th>Name</th>
                                                <th>Link</th>
                                                <th>Status</th>
                                                <th>User</th>
                                                <th>Created at</th>
                                                <th>Updated at</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let data of basicTable.data">
                                                <td style="font-weight: bold;">{{ data.document_code }}</td>
                                                <td>{{ data.document_name }}</td>
                                                <td>{{ data.document_link }}</td>
                                                <td *ngIf="data.status == 1" style="font-weight: bold;color:rgb(167, 167, 43)">Open</td>
                                                <td *ngIf="data.status != 1" style="font-weight: bold;color:green">Accept</td>
                                                <td>{{ data.user_id }}</td>
                                                <td>{{ data.created_at | date: 'dd/MM/yyyy hh:mm aa'}}</td>
                                                <td>{{ data.updated_at | date: 'dd/MM/yyyy hh:mm aa'}}</td>
                                                <td>
                                                    <button class="btn btn-sm btn-outline-warning" placement="left"
                                                        style="margin-right: 0.5rem;" (click)="showAddModal('Update', data)">
                                                        <i class="fas fa-edit"></i>
                                                    </button>
                                                    <button class="btn btn-sm btn-outline-danger" placement="left"
                                                        style="margin-right: 0.5rem;" nzType="dashed" (click)="showConfirm(data._id)">
                                                        <i class="fas fa-trash-alt"></i>
                                                    </button>
                                                    <button class="btn btn-sm btn-outline-success" placement="left"
                                                        style="margin-right: 0.5rem;" (click)="acceptCV(data._id)">
                                                        <i class="fa fa-check"></i>
                                                    </button>
                                                    <button class="btn btn-sm btn-outline-danger" placement="left"
                                                        style="margin-right: 0.1rem;" (click)="denyCV(data._id)">
                                                        <i class="fa fa-ban"></i>                                                
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </nz-table>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<nz-modal [(nzVisible)]="isDisplay" [nzTitle]="titleModal" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
    <ng-container *nzModalContent>
        <form class="form-horizontal" [formGroup]="AddForm">       
            <div class="row">
              <div class="col-md-12">
                <label class="col-md-10 require">Code</label>
                  <input type="text" class="form-control" formControlName="document_code" placeholder="input...">   
              </div>
              <div class="col-md-12">
                <label class="col-md-10">Name</label>
                <input type="text" class="form-control" formControlName="document_name" placeholder="input..">
              </div>
              <div class="col-md-12">
                <label class="col-md-10">Link CV</label>
                <input type="text" class="form-control" formControlName="document_link" placeholder="input..">
              </div>
              <div class="col-md-12">
                <label class="col-md-10">User</label>
                <input type="text" class="form-control" formControlName="user_id" placeholder="input.." [attr.disabled]="true">
              </div>
            </div>
          </form>
      </ng-container>
</nz-modal>
