<footer class="footer">
    <div class="container-fluid">
      <nav class="pull-left">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="https://www.themekita.com">
              Find Job
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              Apcept CV
            </a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" href="#">
              Register Account
            </a>
          </li> -->
        </ul>
      </nav>
      <div class="copyright ml-auto">
        ITwork <i class="fa fa-heart heart text-danger"></i>
      </div>				
    </div>
  </footer>